body, html{
    display:flex;
    flex-direction: column;
    margin:0;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    height: 100%;
}


.header{
    background-color:#1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 8px 350px;

}

.logo{
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.link{
    font-size: 18px;
    color:#E5E7EB;
}

.links{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    margin: 10px;
}

ul{
    padding: 0px;
}

.content{
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-direction: column;
}

.greetings{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    flex: 1;
    padding: 100px 350px; 
    align-items: center;
    
}

.greetings .title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.greetings .text {
    font-size: 18px;
    color: #E5E7EB;
    /* width: 500px; */
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    flex: 1;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

.button{
    background-color: #3882F6;
    color: #E5E7EB;
}

img{
    height: 200px;
    width: 400px;
}

.img{
    padding: 8px;
    height: 200px;
    /* width: 400px; */
    background-color: black;
    display: flex;
    flex: 1;
}

.info{
    justify-content: space-around;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px 350px;
}

.cards{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.quote{
    justify-content: space-around;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 100px 350px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    gap: 10px;
}

.call{
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    padding: 100px 350px;
}


.call_container{
    background-color: #3882F6;
    padding: 40px 100px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 6px;
    color: #E5E7EB;
}

.call_container .text{
    font-weight: bold;
    font-size: 20px;
}

.card{
    width: 200px;
    border-radius: 25px;
    border: 4px solid #3882F6;
    padding: 0px;
    height: 200px;
}


.subinfo{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 40px;
    margin: 8px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 21px;
}

.text2{
    text-align: center;
    padding: 8px;
}

.title2{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.author{
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.signup{
    width: 100px;
    padding: 8px;
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid black;
    margin-top: 10px;
    font-size: 15px;
}

.right .signup{
    border-color:#E5E7EB;
}

